
.hero {
	padding-bottom: 2.8571428571em;
	background-image: url(img/bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
}

.hero-item {
	width: 100%;
}

.hero-title {
	margin-bottom: @base-line/8;
	color: darken(@base-color,20);
	line-height: 1;
}

.hero-img,
.hero-bg {
	position: absolute;
	bottom: 0;
	right: 0;
}

.hero-img {
	z-index: 2;
}

.hero-bg {
	width: 85em;
	z-index: 1;
	margin-left: -42.5em;
	left: 50%;
}

.hero-content {
	position: relative;
	z-index: 50;
	margin-bottom: @base-line;
}

.hero-btn {
	display: block;
}

.hero-nav {
	position: absolute;
	width: @hero-nav-width;
	margin-left: -(@hero-nav-width/2);
	top: -2.5em; // 40px
	left: 50%;
	z-index: 400;
}

.hero-nav li {
	display: inline-block;
	.ib();
	margin-left: @hero-nav-item-spacing;
	width: @hero-nav-item-dimensions; 
	height: @hero-nav-item-dimensions;
	padding: @hero-nav-item-padding;
	.border-radius(@hero-nav-item-radius);
	background-color: @white;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	.box-sizing(border-box);
	&:first-child {
		margin-left: 0;
	}
}

.hero-nav a {
	display: block;
}

.hero-nav img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	width: 100%;
}

.hero-nav .active {
	background-color: @white;
}
.hero-nav .active img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.hero-nav a:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}