
.hero,
.hero-item {
	height: 15.625em; // 250px
}

.hero-item {
	width: 100%;
}

.hero-title {
	margin-bottom: @base-line/8;
	line-height: 1;
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
	font-weight: normal;
}

.hero-img,
.hero-bg {
	position: absolute;
	bottom: 0;
	right: 0;
}

.hero-img {
	z-index: 2;
}

.hero-bg {
	width: 85em;
	z-index: 1;
	margin-left: -42.5em;
	left: 50%;
}

.hero-content {
	position: relative;
	z-index: 50;
	margin-bottom: @base-line;
}

.hero-btn {
	display: block;
}

.hero-nav {
	position: absolute;
	width: 18.4375em; // 295px
	top: -2.5em; // 40px
	margin-left: -9.25em; // -148px
	left: 50%;
	z-index: 400;
}

.hero-nav li {
	display: block;
	float: left;
	margin-left: 0.3125em;
	width: 3.75em; 
	height: 3.75em; // 60px
	padding: 0.3125em; // 5px
	.border-radius(2.5em);
	background-color: @grey-dark;
	&:first-child {
		margin-left: 0;
	}
}

.hero-nav a {
	display: block;
}

.hero-nav img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	width: 100%;
}

.hero-nav .active {
	background-color: @white;
}
.hero-nav .active img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.hero-nav a:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}