.logo {
	display: inline-block;
	color: @grey;
	font-weight: bold;
	text-decoration: none;
	font-size: 32/16 + 0em;
	text-transform: lowercase;
	letter-spacing: -1px;
	&:first-letter {
		color: @branding;
	}
}